.classpath
.project
org.eclipse.core.resources.prefs
org.eclipse.jdt.apt.core.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
settings.json
App.class
Converter.class
ConverterTest.class
/bin/.gitignore
/bin/cfg/pdamPackager.xml
/bin/pom.xml
/bin/target/classes/META-INF/MANIFEST.MF
/target/classes/META-INF/MANIFEST.MF
/target/classes/META-INF/maven/jpos-mvn/jpos-mvn/pom.properties
/target/classes/META-INF/maven/jpos-mvn/jpos-mvn/pom.xml
/target/classes/com/mvn/jpos/socket/*.class
/target/test-classes/com/mvn/jpos/socket/*.class
